<!DOCTYPE html>
<html lang="ja">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    {% if title %}
        <title> Flask Blog - {{ title }} </title>
    {% else %}
        <title> Flask Blog </title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/"> mugencai's blog </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
{#            <div class="navbar-nav me-auto">#}
{#              <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>#}
{#              <a class="nav-item nav-link" href="{{ url_for('tags') }}">Tags</a>#}
{#              <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>#}
{#              <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>#}
{#            </div>#}
            <!-- Navbar Right Side -->
            <div class="navbar-nav ms-auto">
              {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('new_post') }}">New Post</a>
                <a class="nav-item nav-link" href="{{ url_for('add_tag') }}">Add tag</a>
                <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>

        <div class="col-md-4">
          <div class="content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/default.jpg')}}">
            <h3><b>mugencai</b></h3>
            <p>Webエンジニアになりたいです。</p>

            <a class="nav-item nav-link" href="https://github.com/mugencai" >-Github</a>
            <a class="nav-item nav-link" href="https://twitter.com/mugencai" >-Twitter</a>
            <a class="nav-item nav-link" href="https://atcoder.jp/users/mugencai" >-Atcoder</a>
            </p>
          </div>
          <div class="content-section">
            <p>Tags</p>
            <p class='text-muted'>
              <ul class="list-group">
                {% for tag in tags %}
                <li class="list-group-item list-group-item-light">{{ tag.name }}</li>
                {% endfor %}
              </ul>
            </p>
          </div>
        </div>
{#          <div class="content-section">#}
{#            <p>Categories</p>#}
{#            <p class='text-muted'>#}
{#              <ul class="list-group">#}
{#                <li class="list-group-item list-group-item-light">Atcoder</li>#}
{#                <li class="list-group-item list-group-item-light">Life</li>#}
{#                <li class="list-group-item list-group-item-light">Python</li>#}
{#                <li class="list-group-item list-group-item-light">Flask</li>#}
{#              </ul>#}
{#            </p>#}
{#          </div>#}
{#        </div>#}
      </div>
    </main>



    <!-- Optional JavaScript; choose one of the two! -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>